.lenovo {
    text-align: center;
}
.corre {
    display:flex;
    flex-flow: column;
    margin-left: 60%;     
    margin-right: 20%;
    gap: 10px;
    border-radius: 8px;
    background-color: #3c68a0;
    margin-top: 30vh;
    color: #ffff;
    height: 300px;
}

.corre > input {
    width: 82%;
}

.corre > input, .corre > label {
    margin-left: 25px;
}

